@media only screen and (max-width: 667px) {

    .d-flex {
        flex-direction: column;
    }

    .card-1 {
        width: 350px;
        height: auto;
        background-image: url("Images/2.png");
        color: white;
        padding: 20px;
        background-repeat: no-repeat;
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .card-3 {
        width: 350px;
        /* height: auto; */
        background-image: url("Images/4.png");
        color: white;
        padding: 20px;
        background-repeat: no-repeat;
        margin-left: 18px;
    }


    .card {
        width: 250px;
        height: auto;
        padding: 20px;
        /* margin: 20px; */
        margin-left: 85px;
    }

    .img-sec {
        width: 250px;
        height: auto;
        margin-left: 70px;
    }

    .query {
        width: 320PX;
        margin-left: 35px;
    }

    .name-email {
        margin-left: 50px;
    }  


    .input-big {
        width: 280px;
        height: 250px;
        background-color: rgb(243, 238, 238);
        border: none;
        border-radius: 8px;
        margin-left: 40px;
    }

    .big-btn {
        width: 300px;
        margin-top: 15px;
        margin-left: 30px;
        height: 40px;
        border: none;
        color: white;
        background-color: red;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.15s;
    }


    .social-media-box {
        width: 300px;
        height: 100px;
        margin-left: 65px;
        background-color: rgb(243, 240, 240);
        padding-top: 20px;
        border-radius: 8px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .footer-container {
        background-color: black;
        height: 1450px;
        width: 100%;
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        /* margin: 0 auto; */
        padding: 20px;
        text-align: center;
    }
}


@media only screen and (min-width: 668px) and (max-width: 992px) {

    .d-flex {
        flex-direction: column;
    }

    .card-1 {
        width: 350px;
        height: auto;
        background-image: url("Images/2.png");
        color: white;
        padding: 20px;
        background-repeat: no-repeat;
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .card-3 {
        width: 350px;
        /* height: auto; */
        background-image: url("Images/4.png");
        color: white;
        padding: 20px;
        background-repeat: no-repeat;
        margin-left: 18px;
    }


    .card {
        width: 250px;
        height: auto;
        padding: 20px;
        /* margin: 20px; */
        margin-left: 85px;
    }

    .img-sec {
        width: 250px;
        height: auto;
        margin-left: 70px;
    }

    .query {
        width: 320PX;
        margin-left: 35px;
    }

    .name-email {
        margin-left: 50px;
    }  


    .input-big {
        width: 280px;
        height: 250px;
        background-color: rgb(243, 238, 238);
        border: none;
        border-radius: 8px;
        margin-left: 40px;
    }

    .big-btn {
        width: 300px;
        margin-top: 15px;
        margin-left: 30px;
        height: 40px;
        border: none;
        color: white;
        background-color: red;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.15s;
    }


    .social-media-box {
        width: 300px;
        height: 100px;
        margin-left: 65px;
        background-color: rgb(243, 240, 240);
        padding-top: 20px;
        border-radius: 8px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .footer-container {
        background-color: black;
        height: 1450px;
        width: 100%;
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        /* margin: 0 auto; */
        padding: 20px;
        text-align: center;
    }
}
