* {
    margin: 0;
    padding: 0;
}

/* .nav-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.link-container {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.link-text {
    margin-right: 50px;
} */

.color-red {
    color: red;
}

.btn {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    /* transition: 0.15s; */
    cursor: pointer;
}

.icon {
    background-color: white;
}

.search-img {
    margin-top: 12px;
    width: 20px;
    height: 20px;
}

.carousel-inner img {
    width: 87%;
    height: auto;
    margin: 0 auto;
}

.hockey-intro {
    text-align: center;
    padding: 50px;
}

.hockey-des {
    color: gray;
    margin-top: 20px;
}

.card-1 {
    width: 580px;
    height: auto;
    background-image: url("Images/2.png");
    color: white;
    padding: 20px;
    background-repeat: no-repeat;
}
.card-2 {
    background-image: url("Images/3.png");
    padding-left: 0;
}
.card-3 {
    width: 1240px;
    /* height: auto; */
    background-image: url("Images/4.png");
    color: white;
    padding: 20px;
    background-repeat: no-repeat;
}
.btn-2 {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(218, 45, 45);
    transition: 0.15s;
    cursor: pointer;
}

.prgm-sec-1 {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
}
.prgm-sec-2 {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
}

.mr-card-1 {
    margin-left: -28px;
}
.mr-card-2 {
    margin-left: 1px;
    margin-right: 40px;
}

.pro-icons {
    display: flex;
    font-family: Arial, sans-serif;
    
}
.pro-icons span {
    margin-right: 10px;
}
.pro-icons span:last-child {
    margin-right: 0;
}

.checked {
    color: orange;
}

.pro-head {
    margin-bottom: 20px;
}

.deli {
    display: flex;
    justify-content: space-around;
}

.halka {
    margin-left: 15px;
}

.pic {
    margin-right: 15px;
}

.card {
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 20px;
}

.dual-card {
    /* display: flex; */
    justify-content: center;
}

.footer-container {
    background-color: black;
    height: 60vh;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 0 auto; */
    padding: 20px;
}

.get_in_touch {
    flex: 1;
    /* margin: 0 10px; */
    margin: 50px 95px;
}


.footer-color {
    color: white;
    margin-bottom: 10px;
}

.hockey-mail {
    margin-left: 10px;
}

.mail {
    /* display: flex; */
    align-items: center;
    margin-top: 10px;
}

.white-color {
    color: white;
}

.gray-color {
    color: gray;
}

.black-color {
    color: black;
    margin-top: -10px;
}
.get {
    margin-bottom: 25px;
}

.img-sec {
    width: 300px;
    height: auto;
}

.query {
    width: 800PX;
    margin-left: 15px;
}

.query-sec {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
}

.head-color {
    color: black;
    font-weight: bold;
}

.c-e-b-c-img {
    margin-bottom: 15px;
}

.c-e-b-c {
    width: 280px;
    height: 180px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.c-e-b-c-card-1 {
    background-color: rgb(206, 248, 206);
}
.c-e-b-c-card-2 {
    background-color: rgb(221, 248, 177);
}
.c-e-b-c-card-3 {
    background-color: rgb(201, 251, 253);
}

.c-e-b-c-content {
    padding-top: 25px;
    padding-left: 25px;
}

.name {
    margin: 15px;
}

.input-small {
    width: 250px;
    height: 50px;
    background-color: rgb(243, 238, 238);
    border: none;
    border-radius: 8px;
}

/* .name-email {
    display: flex;
} */

.input-big {
    width: 530px;
    height: 250px;
    background-color: rgb(243, 238, 238);
    border: none;
    border-radius: 8px;
}

.big-btn {
    width: 530px;
    margin-top: 15px;
    height: 40px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
}
.big-btn:hover {
    opacity: 0.8;
}
.big-btn:active {
    opacity: 0.5;
}

.card-email-box {
    /* display: flex; */
    justify-content: center; 
    align-items: center;
}

.card-email-box-card {
    margin-right: 20px;
}

.twiter {
    margin-right: 20px;
}

.social-images {
    display: flex;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media-box {
    width: 845px;
    height: 100px;
    margin-left: 360px;
    background-color: rgb(243, 240, 240);
    padding-top: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 40px;
}




.d-flex {
    display: flex;
}