*{
    margin: 0;
    padding: 0;
}

.btn {
    padding: 10px 22px;
    border: none;
    background-color: aqua;
    border-radius: 8px;
    transition: 0.15s;
}

.btn:hover {
    background-color: aqua;
    opacity: 0.8;
}
.btn:active {
    background-color: aqua;
    opacity: 0.5;
}

.btn-2 {
    padding: 10px 22px;
    border: none;
    background-color: aqua;
    border-radius: 8px;
    margin-top: 0;
    transition: 0.15s;
}

.btn-2:hover {
    background-color: aqua;
    opacity: 0.8;
}
.btn-2:active {
    background-color: aqua;
    opacity: 0.5;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.intro-img {
    width: 200px;
    height: auto;
}

.skill {
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro {
    margin-top: 40px;
}

.project-pic {
    width: 500px;
    height: auto;
}

.port-folio-card {
    border: 2px solid gray;
    width: 900px;
    height: auto;
    margin-bottom:30px;
    padding-bottom: 5px;
    margin-left: 350px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




.box {
    width: 500px;
    height: auto;
    box-shadow: 4px 4px 15px gray;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: rgb(25, 25, 25);;
    margin-bottom: 30px;
}


input::placeholder {
    text-align: center;
}

.comment-box {
    width: 250px;
    height: 100px;
    background-color: rgb(25, 25, 25);;
    border: 2px solid gray;
}

.send-btn {
    width: 280px;
    height: 60px;
    color: aqua;
    font-weight: bold;
    background-color: gray;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.input-name-email {
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 10px 22px;
    background-color: rgb(25, 25, 25);;
}

footer {
    border-top: 2px gray solid;
}

.cng-color:hover {
    color: blueviolet;
}

.carousel {
    width: 500px;
}
.carousel-inner img {
    width: 500px;
    height: auto;
    object-fit: cover;
}