@media only screen and (max-width: 667px) {

    .d-flex {
        flex-direction: column;
    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: orange;
        list-style: none;
        padding: 20px;
        width: 300px;
    }
    .logo {
        width: 10px;
        margin-right: 30px;
    }

    .item {
        margin-left: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    .logo-img {
        width: 40px;
    }

    .man-img-info {
        width: 250px;
    }

    .banner-section {
        background-image: url("image/Div\ [banner].png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 641px;
    }

    .logos {
        height: 35px;
        width: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box {
        width: 230px;
        height: 200px;
        color: white;
        padding: 15px;
        text-align: center;
        background-color: black;
        margin-bottom: 15px;
    }

    .box-container {
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        margin-bottom: -120px;
    }

    .down-img {
        width: 40px;
        margin-left: 60px;
        margin-top: 80px;
    }

    .res-des {
        font-size: 20px;
    }

    .down-des {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .safe-des {
        margin-left: 15px;
    }

    .call-img {
        width: 80px;
    }

    .footer-container {
        background-color: black;
        height: 1500px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
    }
}


@media only screen and (min-width: 668px) and (max-width: 992px) {

    .d-flex {
        flex-direction: column;
    }

    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: orange;
        list-style: none;
        padding: 20px;
        width: 300px;
    }
    .logo {
        width: 10px;
        margin-right: 30px;
    }

    .item {
        margin-left: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    .logo-img {
        width: 40px;
    }

    .man-img-info {
        width: 250px;
    }

    .banner-section {
        background-image: url("image/Div\ [banner].png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 641px;
    }

    .logos {
        height: 35px;
        width: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .box {
        width: 230px;
        height: 200px;
        color: white;
        padding: 15px;
        text-align: center;
        background-color: black;
        margin-bottom: 15px;
    }

    .box-container {
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        margin-bottom: -120px;
    }

    .down-img {
        width: 40px;
        margin-left: 60px;
        margin-top: 80px;
    }

    .res-des {
        font-size: 20px;
    }

    .down-des {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .safe-des {
        margin-left: 15px;
    }

    .call-img {
        width: 80px;
    }

    .footer-container {
        background-color: black;
        height: 1500px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 15px;
    }
}